<html>
    <head>
        <title>Contanct !</title>
    </head>
    <body>
        <div class="page-header">
            <h1>Contact</h1>
            
            <div class="page-header row">
                <!--
                <h1><img src="http://placehold.it/50x50" class="img-circle"> con id numero {{id}} </h1>
                -->
                <!-- Ho aggiutno una direttiva di nome gravatar-->
                <h1><gravatar class="img-circle"></gravatar> con id numero {{id}} </h1>
                
                <BR>
                <div>
                    <h3> name:  {{contatto.name}}</h3>
                    <h3> phone: {{contatto.phone}}</h3>
                    <h3> email: {{contatto.email}}</h3> 
                    <h3> info: {{contatto.info}}</h3> 
                </div>
                <BR>
            </div>
        </div>

        
    </body>
</html>
