<html>
    <head>
        <title>Contanct !</title>
        <link rel="stylesheet" href="css/bootstrap.min.css">

        <script src="js/jquery-3.1.1.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/angular.min.js"></script>

        <script src="js/controller/webApp.js"></script>
        <script src="js/controller/controller.js"></script>
    </head>
    <body>
        <div class="page-header">
            <h1>Contact</h1>
            
            <div class="page-header row">
                <h1><img src="http://placehold.it/50x50" class="img-circle"></h1>
            </div>
        </div>
        
        
        
        <p>il mio name è {{name}}</p>
        <p>il mio phone è {{phone}}</p>
        <p>il mio email è {{email}}</p>
    </body>
</html>
