<html>
    <head>
        <title>Book Index !</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        

        <div class="page-header">
            <h1>All contacts</h1>
        </div>
        
        <div class="table-responsive">
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email Address</th>
                        <th>Phone Number</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Karan Bromwich</td>
                        <td>karan@example.com</td>
                        <td>01234 56734</td>
                        <td><a href=”#” class="btn btn-default btn-xs">View</a></td>
                    </tr>
                    <tr>
                        <td>Declan Proud</td>
                        <td>declan@example.com</td>
                        <td>01234 567890</td>
                        <td><a href=”#” class="btn btn-default btn-xs">View</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
        
  
        
        
        
        <hr>
        <hr>
        <div>Index !</div>
        <p><a href="add-contact">Add.html (add-contact)</a></p>
        <p><a href="contact/1">Contact.html (contact/1)</a></p>
        <p><a href="prova">Richiesta a route che non esiste (prova)</a></p>
        
        
   
        
    </body>
</html>
