<!DOCTYPE html>
<html ng-app="webApp">
    
<head>
    <title>Cap2: AngulaJs and Bootstrap</title>
  
    <link rel="stylesheet" href="css/bootstrap.min.css">

    <script src="js/jquery-3.1.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/angular.min.js"></script>

    <script src="js/controller/webApp.js"></script>
    <script src="js/controller/controller.js"></script>
  
</head>

<body>

    
    
  
    
    <div class="page-header">
            <h1>All contacts</h1>
    </div>
        
    <div class="container">
        <div> 
            <table class="table-responsiveg table-striped col-sx-12 col-sm-12 col-md-12 col-lg-12">
                <thead>
                    <tr>
                        <th class="table-bordered col-sx-4 col-sm-4 col-md-4 col-lg-4">Name</th>
                        <th class="table-bordered col-sx-4 col-sm-4 col-md-4 col-lg-4">Email Address</th>
                        <th class="table-bordered col-sx-4 col-sm-4 col-md-4 col-lg-4">Phone Number</th>
                        <th class="table-bordered col-sx-4 col-sm-4 col-md-4 col-lg-4">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="contact in contatti">
                        <td>{{contact.name}}</td>
                        <td>{{contact.phone}}</td>
                        <td>{{contact.email}}</td>
                        <td><a href="contact/{{$index}}" class="btn btn-default btn-xs">View</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    
    
 
    
    
    
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <hr>
    <hr>
    <div> <h2> Capitolo 5 </h2> </div>
    <p><a href="add-contact">Add.html (add-contact)</a></p>
    <p><a href="contact/1">Contact.html (contact/1)</a></p>
    <p><a href="prova">Richiesta a route che non esiste (prova)</a></p>
    
    

</body>
</html>