<!DOCTYPE html>
<html>
    
<head>
    <title>SubIndex !</title>   
</head>

<body>

    
    
  
    
    <div class="page-header">
            <h1>All contacts</h1>
    </div>
        
    <div class="container">
        <div> 
            <table class="table-responsiveg table-striped col-sx-12 col-sm-12 col-md-12 col-lg-12">
                <thead>
                    <tr>
                        <th class="table-bordered col-sx-4 col-sm-4 col-md-4 col-lg-4">Name</th>
                        <th class="table-bordered col-sx-4 col-sm-4 col-md-4 col-lg-4">Email Address</th>
                        <th class="table-bordered col-sx-4 col-sm-4 col-md-4 col-lg-4">Phone Number</th>
                        <th class="table-bordered col-sx-4 col-sm-4 col-md-4 col-lg-4">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="contact in index_contacts | filter:search">
                        <td>{{contact.name}}</td>
                        <td>{{contact.phone}}</td>
                        <td>{{contact.email}}</td>
                        <td><a href="contact/{{$index}}" class="btn btn-default btn-xs">View</a></td>
                    </tr>
                </tbody>
            </table>
            <br>
            <br>
            Autore: {{autore}} (è un valore di tipo value)
            
            
        </div>
    </div>
       
    

</body>
</html>